h1, h2, h3, h4, h5, h6 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-family: 'Gloria Hallelujah', cursive;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #85c9ae;
}

header {
  background-color: #003a3a;
  padding: 1em;
  margin-bottom: 1em;
  text-align: center;
}

.sound-container {
  padding: 0.5em;
  margin: 0.5em;
  background-color: #fff;
  display: inline-block;
  border-radius: 20px;
  font-size: 1em;
  width: 150px;
  text-align: center;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
  vertical-align: middle;
  cursor: pointer;
  font-family: 'Gloria Hallelujah', cursive;
  user-select: none;
  position: relative;
}
.sound-name-container {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sound-active {
  background-color:#a8ffa8;
}
/* .sound-not-ready {
  background-color:#c4c4c4;
  cursor: default;
} */

.loading-indicator{
  position:absolute;
	left: 50%;
	transform: translate(-50%, -50%);
  top: 2em;
}
.loading-indicator img {
  width: 50px;
}

.sound-container input {
  margin-top: 1em;
}

.external-links-container {
  padding: 2px;
  position: fixed;
  right: 2px;
  bottom: 2px;
}

.btn {
  margin-bottom: 0.3rem;
}

/********** Range Input Styles **********/
/*Range Reset*/
input[type="range"] {
  -webkit-appearance: none;
   appearance: none;
   background: transparent;
   cursor: pointer;
   /* width: 15rem; */
}

/* Removes default focus */
input[type="range"]:focus {
 outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #053a5f;
  border-radius: 0.5rem;
  height: 0.5rem;  
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
 -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -4px; /* Centers thumb on the track */

  /*custom styles*/
  background-color: #5cd5eb;
  height: 1rem;
  width: 0.5rem;
}

input[type="range"]:focus::-webkit-slider-thumb {   
 border: 1px solid #053a5f;
 outline: 3px solid #053a5f;
 outline-offset: 0.125rem; 
}

/******** Firefox styles ********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: #053a5f;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0; /*Removes default border-radius that FF applies*/

  /*custom styles*/
  background-color: #5cd5eb;
  height: 1rem;
  width: 0.5rem;
}

input[type="range"]:focus::-moz-range-thumb {
 border: 1px solid #053a5f;
 outline: 3px solid #053a5f;
 outline-offset: 0.125rem; 
}